<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%>
  <%- include("./partials/signinRedirect.ejs")%>
<% } else { %>
<div class="discover-groups-container">

  <% for(let y=0; y<sortedGroups.length ;y++) { %>
    <div class="discover-group-container">
    <h1><%=sortedGroups[y].interest%></h1>
    <div class="discover-group-container-groups">
    
    <% for(let i=0; i < sortedGroups[y].groups.length; i++){%>
      <div class="discover-group-div">
        <div class="discover-group-div-top">
          <div class="discover-group-image-div">
            <img class="discover-group-image" src="/img/<%=sortedGroups[y].interest%>.jpeg" />
          </div>
          <p class="discover-group-name"><%= sortedGroups[y].groups[i].groupName%></p>
        </div>
        <div class="discover-group-button">
          <a href="./discover/<%=sortedGroups[y].groups[i]._id%>" class="group-anchor-view"
            >Show Group</a>
        </div>
      </div>
      <%}%>
      </div>
    </div>
    <% }%>
</div>
<%}%>
