<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%>
<a href="/login">Log in please</a>
<% } else { %>
<div class="eventInfo-page">
  <div class="eventInfo-container">
    <div class="eventInfo-div">
      <div class="eventInfo-left">
        <div class="event2-title">
          <h1><%= event.eventName %></h1>
        </div>
        <div class="eventInfo-date">
          <%= event.date.day < 10 ? "0": ""%><%=event.date.day%>/<%=
          event.date.month < 10 ? "0": ""%><%=event.date.month%>/<%=
          event.date.year%> <%= event.date.hour < 10 ? "0":
          ""%><%=event.date.hour%>:<%= event.date.minute < 10 ? "0":
          ""%><%=event.date.minute%>
        </div>
        <div class="eventInfo-description">
          <p id="event-text"><%=event.description%></p>
        </div>
      

      <div class="eventInfo-address">
        <%= event.location.name%> | <%= event.location.address %>
      </div>
      <div class="event-leave-button">
       <form id="leave-event-id">
        <button class="button-leave" type="submit">Leave event</button>
       </form>

      </div>
    </div>
    <div class="eventInfo-right">
      <div class="eventInfo-attendees">
        <h2>Attendees</h2>
        <div class="attendees-list">
          <%console.log(participantsIds);%>
          <% if (event.participantsIds) { %>
          <% event.participantsIds.forEach((participant) => { %>
           <p> test</p>
          <% }) %>
          <% } else { %>
          <p>No attendees yet</p>
          <% } %>

        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<script src="/js/eventinfo.js"></script>
<% }%>
