<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%> <%-
include("./partials/signinRedirect.ejs")%> <% } else { %>
<div class="groupEvents-title">
  Events in
  <span class="groupEvents-emphasized-group">"<%=currentGroup.groupName%>"</span>
</div>

<div class="groupEvents-events-container">
  <% groupEvents.forEach(event => { %>
  <a href="/user/events/<%-event._id%>" class="groupEvents-event-anchor">
    <div class="groupEvents-event">
      <div class="groupEvents-event-title"><%= event.eventName%></div>
      <div class="groupEvents-event-description"><%= event.description%></div>
      <div class="groupEvents-event-date">
        <%= event.date.day < 10 ? "0": ""%><%=event.date.day%>/<%=
        event.date.month < 10 ? "0": ""%><%=event.date.month%>/<%=  // TODO gør det til en partial
        event.date.year%> <%= event.date.hour < 10 ? "0":
        ""%><%=event.date.hour%>:<%= event.date.minute < 10 ? "0":
        ""%><%=event.date.minute%>
      </div>
      <div class="groupEvents-event-location"><%=event.location.name%> | <%= event.location.address%></div>
    </div>
  </a>
  <%});%>
</div>
<% } %>
