<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%>
  <%- include("./partials/signinRedirect.ejs")%>
<%} else { %>
<div class="group-page">
  <%- include("./partials/createEventModal.ejs") %>
  <div class="group-page-left">
    <div class="group-messages">
      <%for (let i = 0; i < group.messages.length; i++) {%>
      <div
        class="<% if(group.messages[i].authorId == user._id) { %> <%= "group-message-yours" %><% } else {%> <%= "group-message" %> <% } %>">
        <div class="group-message-info">
          <div class="group-message-author">
            <%= group.messages[i].authorName %>
          </div>
          <div class="group-message-date">
            <%if (group.messages[i].createdAt.hour<=9) {%>
              <%="0"%><%}%><%= group.messages[i].createdAt.hour %>:<%if(group.messages[i].createdAt.minute<=9){%><%="0"%><%}%><%= group.messages[i].createdAt.minute %>
          </div>
        </div>
        <div class="group-message-text">
          <%= group.messages[i].messageText %>
        </div>
      </div>
      <% } %>
    </div>
    <div class="group-message-input-container">
      <form class="group-message-input-form">
        <input
          placeholder="Type message..."
          class="group-message-input"
          type="text"
          name="message"
          autofocus
        />
        <input
          type="hidden"
          value="<%= user.name.firstName %> <%= user.name.lastName %>"
          name="authorName"
          hidden
        />
        <input type="hidden" value="<%= user._id %>" name="userId" hidden />
        <button type="submit" class="group-message-send-button">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="group-page-right">
    <div class="group-title">
      <div class="group-title-name"><%= group.groupName%></div>
      <i class="fa-solid fa-ellipsis-vertical groupSettingsDropdownButton"></i>
      <div hidden class="group-dropdown">
        <form action="/user/groups/<%=group._id%>/leave" method="post">
          <button type="submit" class="group-leave-button">Leave group</button>
        </form>
      </div>
    </div>

    <div class="group-events">
      <div class="group-events-toggle">
        <div class="group-events-toggle-title">Group Events</div>
        <div class="group-events-toggle-icon">
          <i class="fa-solid fa-chevron-down events-chevron"></i>
        </div>
      </div>
      <div  class="group-events-list">      
        <a href="/user/groups/<%=group._id%>/events" class="group-events-calendar-button">
          <div class="group-events-calendar-button-icon">
            <i class="fa-solid fa-calendar-days"></i>
          </div>
          <div class="group-events-calendar-button-title">View Events</div>
        </a>
        <div class="group-events-create-button">
          <div class="group-events-create-button-icon">
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="group-events-create-button-title">Create Event</div>
        </div>
      </div>
    </div>

    <div class="group-users">
      <div class="group-users-toggle">
        <div class="group-users-toggle-title">Group Members</div>
        <div class="group-users-toggle-icon">
          <i class="fa-solid fa-chevron-down users-chevron"></i>
        </div>
      </div>
      <div class="group-users-list">
          <% groupUsers.forEach(user => {%>
        <a href="/users/<%= user._id %>" class="group-user">
          <div class="group-user-image-container">
            <img class="group-user-image" src="/img/profileImg/profileImg<%=user.profileImageId%>.jpeg" alt="" />
          </div>  
          <div class="group-user-name">
            <%= user.name.firstName %> <%= user.name.lastName %>
          </div> <!--TODO Anchor til group events page + overflow hvis for mange users-->
        </a>
        <% }); %>
      </div>
      
    </div>
  </div>

</div>
<%}%>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/groupPage.js"></script>
