<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%> <%-
include("./partials/signinRedirect.ejs")%>
<!--TODO forside som landingpage hvis ikke logget ind-->
<% } else { %>
<div class="homepage">
  <div class="homepage-groups-container">
    <div class="homepage-title">Groups</div>
    <% for (let i = 0; i < userGroups.length && i < 10; i++) {%>
    <a href="/user/groups/<%=userGroups[i]._id%>" class="homepage-group">
      <div class="homepage-group-image-container">
        <img
          src="/img/<%=userGroups[i].interest%>.jpeg"
          alt=""
          class="homepage-group-image"
        />
      </div>
      <div class="homepage-group-info">
        <div class="homepage-group-name"><%= userGroups[i].groupName%></div>
        <div class="homepage-group-message">
          <% if(userGroups[i].messages.length > 0) {%>
          <div class="homepage-group-message-author">
            <%=
            userGroups[i].messages[userGroups[i].messages.length-1].authorName
            %>:
          </div>
          <div class="homepage-group-message-text">
            <%=
            userGroups[i].messages[userGroups[i].messages.length-1].messageText
            %>
          </div>
          <div class="homepage-group-message-time">
            <%if
            (userGroups[i].messages[userGroups[i].messages.length-1].createdAt.hour<=9)
            {%> <%="0"%><%}%><%=
            userGroups[i].messages[userGroups[i].messages.length-1].createdAt.hour
            %>:<%if(userGroups[i].messages[userGroups[i].messages.length-1].createdAt.minute<=9){%><%="0"%><%}%><%=
            userGroups[i].messages[userGroups[i].messages.length-1].createdAt.minute
            %>
          </div>

          <%}%>
        </div>
      </div>
    </a>

    <%}%>

    <div class="homepage-showMore">
      <a href="/user/groups" class="homepage-showMore-anchor"
        ><i class="homepage-linkIcon fa-solid fa-link"></i>Show More...</a
      >
    </div>
  </div>
  <div class="homepage-events-container">
    <div class="homepage-title">Upcoming Events</div>
    <!--Hardcoded max entries to 2 to avoid overflow-->
    <% for(let i = 0; i < userEvents.length && i < 2; i++) {%>
    <a
      href="/user/groups/<%=userEvents[i].groupId%>/events/<%=userEvents[i]._id%>"
      class="homepage-event"
    >
      <div class="homepage-event-title"><%= userEvents[i].eventName%></div>
      <div class="homepage-event-info">
        <div class="homepage-event-description"><%=userEvents[i].description%></div>
        <div class="homepage-event-date">
          <%= userEvents[i].date.day < 10 ? "0": ""%><%=userEvents[i].date.day%>/<%=
          userEvents[i].date.month < 10 ? "0": ""%><%=userEvents[i].date.month%>/<%=
          userEvents[i].date.year%> <%= userEvents[i].date.hour < 10 ? "0":
          ""%><%=userEvents[i].date.hour%>:<%= userEvents[i].date.minute < 10 ? "0":
          ""%><%=userEvents[i].date.minute%>
        </div>
        <div class="homepage-event-location">
          <%=userEvents[i].location.name%> | <%=userEvents[i].location.address%>
        </div>
      </div>
    </a>
    <%}%>
    <div class="homepage-showMore">
      <a href="/user/events" class="homepage-showMore-anchor"
        ><i class="homepage-linkIcon fa-solid fa-link"></i>Show More...</a
      >
    </div>
  </div>
  <div class="homepage-discover-container">
    <div class="homepage-title">Discover</div>
    <!-- TODO: Check user is not already in group before rendering -->
    <% for(let i = 0; i < discoverGroups.length; i++){%>
    <a href="/discover/<%=discoverGroups[i]._id%>" class="homepage-discover">
      <div class="homepage-discover-image-container">
        <img
          src="/img/<%=discoverGroups[i].interest%>.jpeg"
          alt=""
          class="homepage-discover-image"
        />
      </div>
      <div class="homepage-discover-info">
        <div class="homepage-discover-title">
          <%=discoverGroups[i].groupName%>
        </div>
        <i id="homepage-discover-icon" class="fa-solid fa-arrow-right"></i>
      </div>
    </a>
    <%}%>

    <div class="homepage-showMore">
      <a href="/discover" class="homepage-showMore-anchor"
        ><i class="homepage-linkIcon fa-solid fa-link"></i>Show More...</a
      >
    </div>
  </div>
</div>
<%} %>
