<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%>
<a href="/login">Log in please</a>
<% } else { %>
<div class="index-body">
  <div class="index-groups">
    <div class="index-groups-title">Your Groups</div>
    <% groups.forEach(group => { %>
    <a href="user/groups/<%=group._id%>" class="index-group"
      ><%= group.groupName %></a
    >
    <%})%>
  </div>

  <div class="index-upcoming_events">
    <div class="upcoming-events-title">Your Upcoming Events</div>
    <% events.forEach(event => { %>
    <a href="user/events/<%=event._id%>" class="upcoming-event">
      <div class="upcoming-event-name"><%= event.eventName %></div>
      <div class="upcoming-event-date">
        <%= event.date.month %>/<%= event.date.day %>-<%= event.date.hour %>:<%=
        event.date.minute %>0
      </div>
    </a>
    <%})%>
  </div>

  <div class="index-suggested-groups">
    <div class="suggested-groups-title">Suggested Groups</div>
  </div>
</div>
<%} %>
