<%- include("./partials/header.ejs") %><% if (!isLoggedIn) {%>
  <%- include("./partials/signinRedirect.ejs")%>
  <% } else { %>

  <div class="interestsPage">
   
    <div class="interestsPageContent">
      <div class="interestsPageLeft">
      <div class="interestsSearch">
        <input class="interestsSearchInput" type="text" name="interestsSearch" placeholder="Search Interests">
      </div>
      <div class="interestsContainer">
      <div class="interestsPageTitleLeft">Choose interests</div>
      <div class="interestsPageTitleRight">Your interests</div>
        <form method="post" action="/user/interests" class="interestsContainerWrapper">
          <% for (let i=0; i < allInterests.length; i++) { %>
          <label id="specific-<%= allInterests[i].hobby.replaceAll(" ", "-") %>" class="specificInterest <%if (user.interests.includes(allInterests[i].hobby)) {%>
            <%="selected"%>
            <% } %>">
              <%= allInterests[i].hobby %>
              <input id="specific-<%= allInterests[i].hobby.replaceAll(" ", "-") %>-checkbox" class="specificInterestCheckbox" <% if (user.interests.includes(allInterests[i].hobby)) {%><%="checked"%><%} %>
               type="checkbox" name="<%= allInterests[i].hobby %>" value="<%= allInterests[i].hobby %>">
          </label>
          <% } %>
          <button class="interestsSaveButton" type="submit">SAVE</button>
        </form>
      </div>
    </div>
    <div class="interestsPageRight">
      <div class="interestsPageRightWrapper">
        <% for (let i=0; i < user.interests.length; i++) { %>
          <div id="specific-<%= user.interests[i].replaceAll(" ", "-") %>-selected" class="specificSelectedInterest">
            <%= user.interests[i] %>
          </div>
          <% } %>
      </div>
    </div>
  </div>

    
  </div>
  <% }%>

  <script src="/js/interests.js"></script>
