<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%>
    <%- include("./partials/signinRedirect.ejs")%>
    <% } else { %>
        <!--TODO PISSE GRIM GØR PÆN-->
        <div class="profileName"><%= publicUser.name.firstName %> <%= publicUser.name.lastName %></div>
        <div class="profile-container">

            <div class="profileSides-container">
                <div class="profileLeftContent">
                    <div class="profileAvatar">
                        <img src="/img/70WoJVY.jpeg" alt="Profile Picture"> <!-- Hardcoded billed-->
                    </div>
                    <div class="profileInterestsTitle">Interests:</div>
                    <div class="profileInterest-container">
                        <div class="profileInterestsList">
                            <% for(let i=0; i<publicUser.interests.length; i++) {%>
                                <div class="ProfileInterestBox">
                                    <%= publicUser.interests[i]%>
                                </div>
                                <%}%>
                        </div>
                    </div>
                    <div class="bioTitle">Bio:</div>
                    <div class="inner-div profileBioDescription">
                        <%= publicUser.bio %>
                      </div>
                </div>
            </div>
            <div class="profileSides-container ">
                <div class="profileRightContent">
                    <div class="inner-div">Info</div>
                    <div class="inner-div">
                        <div class="inner-div">
                            <div class="profileInfo-container">
                                <div class="profileInfoTitle">Age</div>
                                <div class="profileInfoList"><%= publicUser.age %></div>
                            </div>
                        </div>
                        <div class="inner-div">
                            <div class="profileInfo-container">
                                <div class="profileInfoTitle">Gender</div>
                                <div class="profileInfoList"><%= publicUser.gender %></div>
                            </div>
                        </div>
                        <div class="inner-div">
                            <div class="profileInfo-container">
                                <div class="profileInfoTitle">City</div>
                                <div class="profileInfoList"><%= publicUser.location %></div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-div">Shared Groups</div>
                    <div class="inner-div">
                       <% commonGroups.forEach(group => {%>
                        <div class="publicUserProfile-sharedGroup"><%= group.groupName%></div>
                       <%})%>
                    </div>
                    <div class="inner-div">Shared Events</div>
                    <div class="inner-div">
                        <% commonEvents.forEach(event => {%>
                            <div class="publicUserProfile-sharedEvents"><%= event.eventName%></div>
                           <%})%>
                    </div>
                </div>
            </div>
        </div>







  <%} %>