<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%>
    <%- include("./partials/signinRedirect.ejs")%>
    <% } else { %>
        <div class="PUF-main">


            <div class="PUF-leftContainer">

                <div class="PUF-imageContainer">
                    <img src="/img/profileImg/profileImg<%=user.profileImageId%>.jpeg" alt="Profile Picture" class="PUF-image">
                </div>
                <div class="PUF-username"><%=publicUser.username%></div>

            </div>


            <div class="PUF-middleContainer">
                

                <div class="PUF-about">
                    <div class="PUF-nameContainer">
                        <div>Name: <span class="PUF-userInfo"><%= publicUser.name.firstName %></span></div>
                        <div>Surname: <span class="PUF-userInfo"><%= publicUser.name.lastName %></span></div>
                    </div>
                    <div>Birth: <span class="PUF-userInfo"><%=publicUser.birth.day%>/<%=publicUser.birth.month%> <%=publicUser.birth.year%></span></div>
                    <div>Gender: <span class="PUF-userInfo"><%=publicUser.gender%></span></div>
                    <div>From: <span class="PUF-userInfo"><%=publicUser.location%></span></div>
                </div>
                <div class="PUF-bioContainer">
                    <span class="PUF-bioTitle">About:</span>
                    <div class="PUF-bio"><%= publicUser.bio %></div>
                </div>

            </div>


            <div class="PUF-rightContainer">

                <div class="PUF-interestsContainer">
                    <div class="PUF-interestsTitle"><%=publicUser.name.firstName%>'s Interests</div>
                    <div class="PUF-interestsBox">
                        <% for(let i=0; i<publicUser.interests.length; i++) {%>
                            <div class="PUF-interest"><%= publicUser.interests[i]%></div>
                        <%}%>
                    </div>
                </div>

                <div class="PUF-sharedContentContainer">
                    <div class="PUF-SharedContentTitle">Shared Groups</div>
                    <div class="PUF-sharedContentBox">
                        <% commonGroups.forEach(group => {%>
                            <a href="/user/groups/<%=group._id%>" class="PUF-sharedContent"><%= group.groupName%></a>
                        <%})%>
                    </div>
                </div>

                <div class="PUF-sharedContentContainer">
                    <div class="PUF-SharedContentTitle">Shared Events</div>
                    <div class="PUF-sharedContentBox">
                        <% commonEvents.forEach(event => {%>
                            <a href="/user/groups/<%=event.groupId%>/events/<%=event._id%>" class="PUF-sharedContent"><%= event.eventName%></a>
                        <%})%>
                    </div>
                </div>

            </div>

        </div>
  <%} %>
