<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%>
    <%- include("./partials/signinRedirect.ejs")%>
    <% } else { %>
        <div class="pubUsrProf-container">
            <div class="pubUsrProf-left-container">
                <div class="pubUsrProf-image-container">
                    <img src="/img/70WoJVY.jpeg" alt="Profile Picture" class="pubUsrProf-image">
                </div>
                <div class="pubUsrProf-name"><%= publicUser.name.firstName %> <%= publicUser.name.lastName %></div>
                <div class="pubUsrProf-bio-container">
                    <div class="pubUsrProf-bio">
                        <%= publicUser.bio %>
                    </div>
                </div>

                <div class="pubUsrProf-about-container">
                    
                </div>
            </div>
            <div class="pubUsrProf-right-container">
                <div class="pubUsrProf-interests-container">
                    <div class="pubUsrProf-interests-title"><%=publicUser.name.firstName%>s' Interests</div>
                    <div class="pubUsrProf-interests-box">
                     <% for(let i=0; i<publicUser.interests.length; i++) {%>
                        <div class="pubUsrProf-interest"><%= publicUser.interests[i]%></div>
                    <%}%>
                    </div>
                </div>
                <div class="pubUsrProf-info-container">
                    <div class="pubUsrProf-info-sharedContent-container">
                        <div class="pubUsrProf-info-sharedContent-title">Shared Groups</div>
                        <div class="pubUsrProf-info-sharedContent-box">
                            <% commonGroups.forEach(group => {%>
                                <div class="pubUsrProf-info-sharedContent"><%= group.groupName%></div>
                               <%})%>
                        </div>

                    </div>
                    <div class="pubUsrProf-info-sharedContent-container">
                        <div class="pubUsrProf-info-sharedContent-title">Shared Events</div>
                        <div class="pubUsrProf-info-sharedContent-box">
                            <% commonEvents.forEach(event => {%>
                                <div class="pubUsrProf-info-sharedContent"><%= event.eventName%></div>
                               <%})%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <%} %>
