<%- include("./partials/header.ejs") %>
<div class="users">
  <% for (let i = 0; i < users.length; i++) { %>
  <div class="user">
    <div class="userName">Name: <%= users[i].name.firstName %></div>
    <div class="userAge">Age: <%= users[i].age %></div>
    <div class="userLocation">Location: <%= users[i].location %></div>
    <div class="userBio">Bio: <%= users[i].bio %></div>
  </div>
  <%} %>
</div>
<a href="/">Back to Homepage</a>
