<%- include("./partials/header.ejs") %> <% if (!isLoggedIn) {%> <%-
include("./partials/signinRedirect.ejs")%> <% } else { %>
<div class="userpage">
  <div class="userpage-left">
    <div class="userpage-left-top">
      <%if(warning) {%>
      <div class="userpage-left-info-warning"><%=warning%></div>
      <%}%><%if(message) {%>
      <div class="userpage-left-info-message"><%=message%></div>
      <%}%>
      <div class="userpage-left-top-top"></div>
      <div class="userpage-left-top-bottom"></div>
      <div class="userpage-left-image-relative">
        <div class="userpage-left-image-container">
          <img
            src="/img/profileImg/profileImg<%=user.profileImageId%>.jpeg"
            alt=""
          />
        </div>
        <div class="userpage-left-image-change">
          <i class="fa-solid fa-image"></i>
        </div>
      </div>
      <button class="userpage-left-settings-button">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>
      <div hidden class="userpage-left-settings-container">
        <div class="userpage-left-settings-edit">Edit</div>
        <div class="userpage-left-settings-change">Change Password</div>
        <div class="userpage-left-settings-delete">Delete User</div>
      </div>
    </div>
    <div hidden class="userpage-delete-confirm-modal">
      <div class="userpage-delete-confirm-modal-container">
        <div class="userpage-delete-confirm-modal-container-upper">
          <div class="userpage-delete-confirm-modal-image-container">
            <img src="/img/warning.jpeg" alt="" />
          </div>
          <div class="userpage-delete-confirm-modal-text">
            <p class="userpage-delete-confirm-modal-title">Delete User?</p>
            <p class="userpage-delete-confirm-modal-description">
              You are about to delete your user, are you sure you want to delete
              your user?
            </p>
          </div>
        </div>

        <div class="userpage-delete-confirm-modal-buttons">
          <button class="userpage-delete-confirm-modal-cancel-button">
            Cancel</button
          ><button class="userpage-delete-confirm-modal-delete-button">
            Delete
          </button>
        </div>
      </div>
    </div>

    <div hidden class="userpage-change-password-modal">
      <div class="userpage-change-password-modal-container">
        <form method="post" action="/user/password/update">
          <legend>Change Password</legend>
          <div class="userpage-change-password-current-container">
            <label for="currentPassword">Current Password</label>
            <input
              required
              placeholde="Current Password"
              type="password"
              name="currentPassword"
              class="userpage-change-password-input"
            />
          </div>
          <div class="userpage-change-password-new-container">
            <label for="newPassword">New Password</label>
            <input
              required
              placeholde="Current Password"
              type="password"
              name="newPassword"
              class="userpage-change-password-input"
            />
          </div>
          <div class="userpage-change-password-confirm-new-container">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input
              required
              placeholde="Confirm New Password"
              type="password"
              name="confirmNewPassword"
              class="userpage-change-password-input"
            />
          </div>
          <div class="userpage-left-change-password-buttons">
            <button
              class="userpage-left-change-password-save-button"
              type="submit"
            >
              <i class="fa-solid fa-check"></i>
              <div>|</div>
              <div>Change Password</div>
            </button>
            <button
              type="button"
              class="userpage-left-change-password-cancel-button"
            >
              <i class="fa-solid fa-xmark"></i>
              <div>|</div>
              <div>Cancel</div>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="userpage-left-info">
      <div class="userpage-left-info-row1">
        <p class="userpage-left-info-name">
          <%=user.name.firstName%> <%=user.name.lastName%>
        </p>
        <p class="userpage-left-info-username"><%=user.username%></p>
      </div>

      <div class="userpage-left-info-row2">
        <div class="userpage-left-info-bio">
          <p class="userpage-left-info-bio-text">
            <%if(user.bio!== "" ) {%> <%=user.bio%> <%} else {%> Edit your
            profile to write a bio... <%}%>
          </p>
        </div>
      </div>
      <div class="userpage-left-info-row3">
        <div class="userpage-left-info-birthday">
          <i class="fa-solid fa-cake"></i>
          <p class="userpage-left-info-birthday-text">
            <%=user.birth.day%>/<%=user.birth.month%> <%=user.birth.year%>
          </p>
        </div>
      </div>
      <div class="userpage-left-info-row4">
        <div class="userpage-left-info-location">
          <i class="fa-solid fa-location-dot"></i>
          <p class="userpage-left-info-location-text"><%=user.location%></p>
        </div>
      </div>
      <div class="userpage-left-info-row5">
        <div class="userpage-left-info-gender">
          <i class="fa-solid fa-venus-mars"></i>
          <p class="userpage-left-info-gender-text"><%=user.gender%></p>
        </div>
      </div>
    </div>

    <div hidden class="userpage-left-info-edit">
      <form action="/user/info/update" method="post">
        <div class="userpage-left-info-row1-edit">
          <div class="userpage-left-info-name-edit">
            <div class="userpage-left-info-first-name-edit">
              <label
                for="firstName"
                class="userpage-left-info-first-name-title-edit"
              >
                First Name
              </label>
              <input
                type="text"
                placeholder="First Name"
                value="<%=user.name.firstName%>"
                class="userpage-left-info-first-name-input-edit"
                name="firstName"
              />
            </div>
            <div class="userpage-left-info-last-name-edit">
              <label
                for="lastName"
                class="userpage-left-info-last-name-title-edit"
              >
                Last Name
              </label>
              <input
                type="text"
                placeholder="Last Name"
                value="<%=user.name.lastName%>"
                class="userpage-left-info-last-name-input-edit"
                name="lastName"
              />
            </div>
          </div>
          <div class="userpage-left-info-username-edit">
            <label
              for="username"
              class="userpage-left-info-username-title-edit"
            >
              Username
            </label>
            <input
              type="text"
              placeholder="Username"
              value="<%=user.username%>"
              class="userpage-left-info-username-input-edit"
              name="username"
            />
          </div>
        </div>

        <div class="userpage-left-info-row2-edit">
          <div class="userpage-left-info-bio-edit">
            <label for="bio" class="userpage-left-info-bio-title-edit">
              Bio
            </label>
            <textarea
              class="userpage-left-info-bio-input-edit"
              rows="5"
              name="bio"
              placeholder="Bio"
            >
<%=user.bio%></textarea
            >
          </div>
        </div>
        <div class="userpage-left-info-row3-edit">
          <div class="userpage-left-info-birth-super-title">Birth</div>
          <div class="userpage-left-info-birth-edit">
            <div class="userpage-left-info-birth-day-edit">
              <label class="userpage-left-info-birth-title-edit">Day</label>
              <input
                name="birthDay"
                value="<%=user.birth.day%>"
                type="number"
                class="userpage-left-info-birth-input-edit"
                placeholder="Day"
              />
            </div>
            <div class="userpage-left-info-birth-month-edit">
              <label class="userpage-left-info-birth-title-edit">Month</label>
              <input
                name="birthMonth"
                value="<%=user.birth.month%>"
                type="number"
                class="userpage-left-info-birth-input-edit"
                placeholder="Month"
              />
            </div>
            <div class="userpage-left-info-birth-year-edit">
              <label class="userpage-left-info-birth-title-edit">Year</label>
              <input
                name="birthYear"
                value="<%=user.birth.year%>"
                type="number"
                class="userpage-left-info-birth-input-edit"
                placeholder="Year"
              />
            </div>
          </div>
        </div>
        <div class="userpage-left-info-row4-edit">
          <div class="userpage-left-info-location-edit">
            <label class="userpage-left-info-location-title-edit"
              >Location</label
            >
            <input
              name="location"
              value="<%=user.location%>"
              type="text"
              class="userpage-left-info-location-input-edit"
              placeholder="Location"
              autocomplete="off"
            />
          </div>
          <div hidden class="userpage-left-info-locations-list">
            <%for (let i = 0; i < locations.length; i++) {%>
            <div class="userpage-left-info-location-option">
              <%=locations[i].location%>
            </div>
            <%}%>
          </div>
        </div>
        <div class="userpage-left-info-row5-edit">
          <div class="userpage-left-info-gender-edit">
            <label class="userpage-left-info-gender-title-edit">Gender</label>
            <select
              name="gender"
              type="text"
              class="userpage-left-info-gender-input-edit"
              placeholder="Gender"
            >
              <%if(user.gender == "Female") {%>
              <option value="Male">Male</option>
              <option selected value="Female">Female</option>
              <%} else {%>
              <option selected value="Male">Male</option>
              <option value="Female">Female</option>
              <%}%>
            </select>
          </div>
        </div>
        <div class="userpage-left-info-buttons">
          <button class="userpage-left-info-save-button" type="submit">
            <i class="fa-solid fa-check"></i>
            <div>|</div>
            <div>Save</div>
          </button>
          <button type="button" class="userpage-left-info-cancel-button">
            <i class="fa-solid fa-xmark"></i>
            <div>|</div>
            <div>Cancel</div>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="userpage-right">
    <div class="userpage-right-header">
      <p class="userpage-right-header-title">Your Interests</p>
      <div class="userpage-right-header-buttons">
        <a href="/user/interests" class="userpage-right-header-buttons-edit"
          >Edit</a
        >
      </div>
    </div>
    <div class="userpage-right-interests">
      <div class="userpage-right-interests-scroll">
        <% for (let i = 0; i < user.interests.length; i++) {%>
        <div class="userpage-right-interest">
          <div class="userpage-interest-left">
            <p class="userpage-interest-name"><%= user.interests[i]%></p>
            <p class="userpage-interest-info">
              Groups: <%=groupsPerInterest[user.interests[i]]%> | Events:
              <%=eventsPerInterest[user.interests[i]]%>
            </p>
          </div>
          <div class="userpage-interest-right">
            <img src="/img/<%=user.interests[i]%>.jpeg" alt="" />
          </div>
        </div>
        <%} %>
      </div>
    </div>
  </div>
  <div id="userpage-pictures-modal" class="userpage-pictures-modal">
    <div class="userpage-modal-header">
      <div class="userpage-modal-header-title">Change Profile Picture</div>
      <div id="userpage-closeButton" class="userpage-modal-header-close">
        <i class="fa-solid fa-xmark close-mark"></i>
      </div>
    </div>
    <div class="userpage-modal-pictures">
      <div class="userpage-modal-pictures-main">
        <div class="userpage-modal-main-picture-container">
          <img
            class="userpage-modalProfPic"
            src="/img/profileImg/profileImg<%= user.profileImageId %>.jpeg"
            alt=""
          />
        </div>
      </div>
      <div class="userpage-modal-pictures-options">
        <div class="userpage-modal-pictures-options-container">
          <img
            class="userpage-pictureOption"
            id="1"
            src="/img/profileImg/profileImg1.jpeg"
          />
        </div>
        <div class="userpage-modal-pictures-options-container">
          <img
            class="userpage-pictureOption"
            id="2"
            src="/img/profileImg/profileImg2.jpeg"
          />
        </div>
        <div class="userpage-modal-pictures-options-container">
          <img
            class="userpage-pictureOption"
            id="3"
            src="/img/profileImg/profileImg3.jpeg"
          />
        </div>
      </div>
      <form method="post" action="/user/profile-picture/update">
        <input
          type="number"
          name="profileImageId"
          value="<%=user.profileImageId%>"
          class="userpage-profileImageIdNumber"
          hidden
        />
        <!-- Prevents bad imageId by defaulting to id from db-->
        <button
          class="userpage-profilePictureChangeConfirm"
          type="submit"
          hidden
        >
          Confirm
        </button>
      </form>
    </div>
  </div>
</div>
<script src="/js/userpage.js"></script>
<% } %>
