<%- include("./partials/header.ejs") %>
  <% if (!isLoggedIn) {%>
    <%- include("./partials/signinRedirect.ejs")%>
    <% } else { %>
      <div class="Profile-page">
        <section>
            <h2>Manage Your Information</h2>
            <p>Here you can update your personal information to keep your profile up to date.</p>
            <div class="profile-container">
              <div class="profile-picture">
            <figure class="profile-picture-userpage">
                <img src="/img/profileImg/profileImg<%= user.profileImageId %>.jpeg" alt="User Profile Picture">
                <figcaption>Current Profile Picture</figcaption>
            </figure>
            <div id="pictures-modal" class="pictures-modal">
              <div class="modal-header">
                <div class="modal-header-title">Change Profile Picture</div>
                <div id="closeButton" class="modal-header-close">
                  <i class="fa-solid fa-xmark close-mark"></i>
                </div> 
              </div>
              <div class="modal-pictures">
                <div class="modal-pictures-main">
                  <div class="modal-main-picture-container">
                    <img class="modalProfPic" src="/img/profileImg/profileImg<%= user.profileImageId %>.jpeg" alt="">
                  </div>
                </div>
                <div class="modal-pictures-options">
                  <div class="modal-pictures-options-container">
                    <img class="pictureOption" id="1" src="/img/profileImg/profileImg1.jpeg" />
                  </div>
                  <div class="modal-pictures-options-container">
                    <img class="pictureOption" id="2" src="/img/profileImg/profileImg2.jpeg" />
                  </div>
                  <div class="modal-pictures-options-container">
                    <img class="pictureOption" id="3" src="/img/profileImg/profileImg3.jpeg" />
                  </div>
                </div>
                <form method="post" action="/user/profile-picture/update">
                  <input type="number" name="profileImageId" id="profileImageId" value="<%=user.profileImageId%>" class="profileImageIdNumber" hidden>  <!-- Prevents bad imageId by defaulting to id from db-->
                <button class="profilePictureChangeConfirm" type="submit" hidden>Confirm</button>
              </form>
              </div>
            </div>
           </div>
            <div class="user-info">
            <form action="/user/info/update" method="post" class="eventform">
                <input type="hidden" id="userId" name="userId" value="<%= user._id %>">
                <label for="userFirstName">First name:</label>
                <input type="text" id="userFirstName" name="userFirstName" value="<%= user.name.firstName %>" required>
                <label for="userLastName">Last name:</label>
                <input type="text" id="userLastName" name="userLastName" value="<%= user.name.lastName %>" required>
                <label for="userAge">Age:</label>
                <input type="number" id="userAge" name="userAge" value="<%= user.age %>" required>
                <label for="userGender">Gender:</label>
                <select class="gender" name="userGender" id="userGender" >
                  <option value="Male" <%= user.gender === 'Male' ? 'selected' : '' %>>Male</option>
                  <option value="Female" <%= user.gender === 'Female' ? 'selected' : '' %>>Female</option>
                </select>
                <br>
                <label for="userLocation">Location:</label>
                <input type="text" id="userLocation" name="userLocation" value="<%= user.location %>" required>
                <label for="userUsername">Username:</label>
                <input type="text" id="userUsername" name="userUsername" value="<%= user.username %>" required>
                <label for="userPassword">New password (Leave empty if no change)</label>
                <input type="password" id="userPassword" name="userPassword" placeholder="New Password">
                <label for="userBio">Bio:</label>
                <textarea id="userBio" name="userBio" ><%= user.bio %></textarea>
                <button type="submit" class="updateinformation">Update Information</button>
                <button type="button" class="InterestButton" onclick="window.location.href='/user/interests';">Go to Interest Page</button>
                <button type="button" class="deleteButton" onclick="deleteUser()">Delete Account</button>
            </form>
          </div>
        </section>
      </div>
<script src="/js/userpage.js"></script>
    <% } %>
