<%- include("./partials/header.ejs") %>
  <% if (!isLoggedIn) {%>
    <a href="/login">Log in please</a>
    <% } else { %>
      <h1 class="profile-welcome-title">Welcome <%= user.username %>
      </h1>

      <body class="body-profile-container">
        <div class="user-page-upper">
          <div class="profile-picture-container">
            <div class="profile-picture-title">Your Profile </div>
            <div class="profile-picture">
              <img class="profile-picture-picture" src="/img/70WoJVY.jpeg" />

            </div>
          </div>
          <div class="profile-bio">
            <form class="bio-form" method="post">
              <label for="Bio" class="profile-bio-title">Bio (500 character maximum)</label>
              <textarea class="input-profile-bio" id="Bio" name="Bio" rows="5" cols="30"
                maxlength="500"><%= user.bio  %></textarea>
              <button type="submit" value="submit" class="submit-bio-button">Submit
            </form>
          </div>
          
          <form class="profile-information-form" action="/user" method="post">
            <div class="profile-information-overall">
              <div class="profile-information-title">Your Information</div>
              <div class="profile-information-column1">
                <div class="profile-information-content-item-icon-container">
                  <div class="profile-information-content-item-title">Change Age</div>
                  <span class="age-toggle-icon"><i class="fas fa-edit icon"></i></span>
                  <input class="profile-information-content-item-content" readonly id="newAge" name="newAge"
                    type="number" placeholder="<%= user.age  %> ">
                </div>
                <div class="profile-information-content-item-icon-container">
                  <div class="profile-information-content-item-title">Change Location</div>
                  <span class="location-toggle-icon"><i class="fas fa-edit icon"></i></span>
                  <input class="profile-information-content-item-content" readonly id="newLocation" name="newLocation"
                    type="text" placeholder="<%= user.location %> ">
                </div>
                <div class="profile-information-content-item-icon-container">
                  <div class="profile-information-content-item-title">Change Username</div>
                  <span class="username-toggle-icon"><i class="fas fa-edit icon"></i></span>
                  <input class="profile-information-content-item-content" readonly id="newUsername" name="newUsername"
                    type="text" placeholder="<%= user.username  %> ">
                </div>
                <div class="profile-information-content-item-icon-container">
                  <div class="profile-information-content-item-title">Change Email</div>
                  <span class="email-toggle-icon"><i class="fas fa-edit icon"></i></span>
                  <input class="profile-information-content-item-content" readonly id="newEmail" name="newEmail"
                    type="email" placeholder="123@gmail.com">
                </div>
              </div>
              <div class="profile-information-column2">
                <div class="profile-information-content-item-icon-container">
                  <div class="profile-information-content-item-title">Change First Name</div>
                  <span class="firstname-toggle-icon"><i class="fas fa-edit icon"></i></span>
                  <input class="profile-information-content-item-content" readonly id="newFirstName" name="newFirstName"
                    type="text" placeholder="<%= user.name.firstName  %> ">
                </div>
                <div class="profile-information-content-item-icon-container">
                  <div class="profile-information-content-item-title">Change Last Name</div>
                  <span class="lastname-toggle-icon"><i class="fas fa-edit icon"></i></span>
                  <input class="profile-information-content-item-content" readonly id="newLastName" name="newLastName"
                    type="text" placeholder="<%= user.name.lastName  %> ">
                </div>
                <div class="profile-information-content-item-icon-container">
                  <div class="profile-information-content-item-title">Change Password</div>
                  <span class="password-toggle-icon"><i class="fas fa-edit icon"></i></span>
                  <input class="profile-information-content-item-content" readonly id="newPassword" name="newPassword"
                    type="password" placeholder="New Password">
                </div>
                <div class="profile-information-content-item-icon-container">
                  <div class="profile-information-content-item-title">Confirm New Password</div>
                  <span class="confirm-password-toggle-icon"><i class="fas fa-edit icon"></i></span>
                  <input class="profile-information-content-item-content" readonly id="confirmNewPassword"
                    name="confirmNewPassword" type="password" placeholder="Confirm New Password">
                </div>
              </div>
              <button type="submit" value="submit" class="submit-information-button">Submit</button>
            </div>
          </form>
        </div>
        </div>


        <div class="user-page-lower">
          <div class="profile-interests-all">
            <div class="profile-interests-container-title"><a class="change-interests-anchor"
                href="/user/interests">Your Interests</a></div>
            <div class="profile-interests-container">
              <% for(let i=0; i<user.interests.length; i++) {%>
                <div class="profile-interests">
                  <%= user.interests[i]%>
                </div>
                <%}%>
            </div>
          </div>
          <div class="profile-groups-all">
            <div class="profile-groups-container-title"><a class="profile-groups-anchor" href="/user/groups">Your
                Groups</a></div>
            <div class="profile-groups-container">
              <% for (let i=0; i<user.groupIds.length; i++) {%>
                <a class="profile-groups" href="/user/groups/<%= user.groupIds[i] %>">
                  <%= user.groupIds[i] %>
                </a>
                <%}%>
            </div>
          </div>
          <div class="profile-events-all">
            <div class="profile-events-container-title"><a class="profile-events-anchor" href="/user/events">Your
                Events</a></div>
            <div class="profile-events-container">
              <% for (let i=0; i<user.eventIds.length; i++) {%>
                <a class="profile-events" href="/user/events/<%= user.eventIds[i] %>">
                  <%= user.eventIds[i] %>
                </a>
                <%}%>
            </div>
          </div>

          <div id="picture-modal" class="modal">
            <div class="modal-content">
              <div class="close-container">
                <h2>Change Profile Picture</h2>
                <i class="fa-solid fa-xmark close-mark"></i>
              </div>
            </div>
          </div>
          <script src="/js/userpage.js"></script>
      </body>

      <%} %>