<%- include("./partials/header.ejs") %>
  <% if (!isLoggedIn) {%>
    <a href="/login">Log in please</a>
    <% } else { %>
      <h1 class="profile-welcome-title">Welcome <%= user.username %>
      </h1>
      <div class="user-page-upper">
        <div class="profile-bio">
          <div class="profile-picture">
            <img class="profile-picture-picture" src="/img/70WoJVY.jpeg" />
          </div>
          <form class="bio-form" method="patch">
            <label for="Bio" class="profile-bio-title">Bio</label>
            <i class="fas fa-edit profile-edit-icon"></i>
            <div class="input-profile-bio"><%= user.bio %></div>
          </form>
        </div>
        <form class="profile-information-form" action="/user" method="post">
          <div class="profile-information-title">Your Information</div>
          <div class="profile-information-rows">

            <div class="profile-information-row">
              <button type="button" class="profile-information-edit-button">Edit</button>
              <button type="submit" class="profile-information-confirm-button" hidden>Confirm</button>
              <button type="button" class="profile-information-cancel-button" hidden>Cancel</button>
              <div class="profile-information-content-item-icon-container">
                <div class="profile-information-content-item-title"> First Name</div>
                <div class="profile-information-container">
                  <div class="profile-information-text" id="userFirstName"> <%= user.name.firstName  %></div>
                </div>
              </div>
              <div class="profile-information-content-item-icon-container">
                <div class="profile-information-content-item-title"> Last Name</div>
                <div class="profile-information-container">
                  <div class="profile-information-text" id="userLastName"> <%= user.name.lastName  %></div>
                </div>
              </div>
              <div class="profile-information-content-item-icon-container">
                <div class="profile-information-content-item-title"> Username</div>
                <div class="profile-information-container">
                <div class="profile-information-text" id="userUsername"> <%= user.username  %></div>
              </div>
              </div>
              <div class="profile-information-content-item-icon-container">
                <div class="profile-information-content-item-title"> Age</div>
                <div class="profile-information-container">
                  <div class="profile-information-text" id="userAge"> <%= user.age  %></div>
                </div>
              </div>
              <div class="profile-information-content-item-icon-container">
                <div class="profile-information-content-item-title"> Location</div>
                <div class="profile-information-container">
                  <div class="profile-information-text" id="userLocation"> <%= user.location %></div>
                </div>
              </div>
            </div>
            <input type="text" name="userId" value="<%= user._id %>" hidden>
        </form>
        <div class="profile-information-password-title">Change Your Password</div>
            <div class="profile-information-row">
              <div class="profile-information-content-item-icon-container">
                <div class="profile-information-content-item-title">New Password</div>
                <div class="profile-information-input-password" id="newPassword">
                  <div class="profile-information-text"></div>
                </div>
              </div>
              <div class="profile-information-content-item-icon-container">
                <div class="profile-information-content-item-title">Confirm New Password</div>
                <div class="profile-information-input-password" id="newConfirmPassword">
                </div>
              </div>
            </div>
          </div>
        <div class="profile-interests-all">
          <div class="profile-interests-container-title">Your Interests</div>
          <div class="profile-interests-container">
            <% for(let i=0; i<user.interests.length; i++) {%>
              <div class="profile-interests">
                <%= user.interests[i]%>
              </div>
              <%}%>
          </div>
          <a href="/user/interests">
          <button class="profile-change-interests-button">Change Interests</button>
        </a>
        </div>
      </div>

      <div class="pictures-modal">
        <div class="modal-header">
          <div class="modal-header-title">Change Profile Picture</div>
          <div class="modal-header-close"><i class="fa-solid fa-xmark close-mark"></i></div>
        </div>
        <div class="modal-pictures">
          <div class="modal-pictures-main">
            <div class="modal-main-picture-container">
              <img src="/img/profileImg/profileImg<%= user.profileImageId %>.jpeg" alt="">
            </div>
          </div>
          <div class="modal-pictures-options">
            <div class="modal-pictures-options-container">
              <img class="picture1" src="/img/Amerikansk Fodbold.jpeg" />
            </div>
            <div class="modal-pictures-options-container">
              <img class="picture3" src="/img/skøjtning.jpeg" />
            </div>
            <div class="modal-pictures-options-container">
              <img class="picture2" src="/img/Fodbold.jpeg" />
            </div>
          </div>
        </div>
      </div>
      </div>
      <script src="/js/userpage.js"></script>

      <%} %>